/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font_poppins{
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
}
.colorgradient {
  font-weight: bold;
  background: linear-gradient(90deg, #1E3A8A, #60A5FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-40 {
    font-size: 40px !important;
}

.headingcolorgradient{
    font-weight: bold;
    background: linear-gradient(90deg, #7b9acc, #2f3c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.herosection1 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a3
        /* Adjust opacity here */
        /* z-index: 1; */
}

/* Scrollbar ka width aur background */
::-webkit-scrollbar {
    width: 4px;
    background-color: #e0e0e0; /* halka grey background */
  }
  
  /* Scrollbar ka thumb (jo move karta hai) */
  ::-webkit-scrollbar-thumb {
    background-color: #2156a8; /* tumhara diya hua blue color */
    border-radius: 0px;
  }
  
  /* Thumb jab hover hoga */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1b4691; /* thoda darker blue on hover */
  }
  
  /* Scrollbar ka track */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* aur halka grey for track */
  }
  